@font-face { 
    font-family: "Oswald";
    src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-weight: 500;
}



h1 {
    color: red;
    font-family: "Oswald";
}

h3 {
    font-family: sans-serif;
}

#bio-header {
    color: brown;
}

#skills-header {
    color:rgba(69, 9, 124, 0.589); 
    
}

.content {
    color:black;
    font-size: 24px;
    font-weight: bold;
    max-width: 75%;
    text-align:justify
} 

.bold {
    font-weight: bold;
}

.img-div {
    background-color: rgb(87, 46, 153);
}

img {
    width: 275px;
    height: 183px;
}

#img-1 {
    position: relative;
    left: 10px;
}